__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

.venv/
venv/
env/
ENV/
.env
.env.*

.ipynb_checkpoints/
.python-version

dist/
build/
*.egg-info/
