version: "3.9"

services:
  api:
    build: .
    ports:
      - "9000:3000"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      FLASK_APP: wsgi.py
      FLASK_ENV: development
    command: >
      gunicorn wsgi:app
      --bind 0.0.0.0:3000
      --access-logfile -
      --error-logfile -
